div.container {
  color: white;
  text-align: center;

}

h1 {
  font-size: 4.2rem;
  font-family: sans-serif;
  color: lightblue;
  
}

p {
  padding: 5px;
  font-size: 15px;
  color: gray;
}

span {
  color: lightblue;
  font-size: 25px;
}